extends  ../_skeleton

//- Includes
include ../components/_ui-team
include ../components/_ui-counters
include ../components/_ui-quote
include ../sections/_google-map

block variables
	- var activeCategory = 'pages'
	- var pageName = 'About Us'

block page  
	// Page Header
	+header-classic: include ../includes/_aside-navbar-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about',
		text: 'Quisque ullamcorper nulla magna, vitae tincidunt ipsum interdum nec <br class="d-none d-md-block">sit amet fermentum pellentesque, pulvinar non tellus.'
	})

	// Section About
	section.section.section-xl.bg-default.text-md-left
		.container: .row.row-40.row-md-60.justify-content-center.justify-content-lg-between.align-items-xl-center
			.col-md-11.col-lg-5.col-xl-4
				+quote-classic-big({
					text: 'A Few Words About Us'
				}).inset-xl-right-30
				// Bootstrap tabs
				#tabs-1.tabs-custom.tabs-horizontal.tabs-line
					// Nav tabs
					.nav-tabs-wrap: ul.nav.nav-tabs
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-1-1' data-toggle='tab') About
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-toggle='tab') Our mission
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-3' data-toggle='tab') Our goals

					// Tab panes
					.tab-content
						div#tabs-1-1.tab-pane.fade.show.active
							p Cum nomen prarere, omnes peses amor pius, rusticus racanaes. Ubi est mirabilis gemna? Cum gabalium velum, omnes fugaes
							p Ubi est peritus devatio? A falsis, adelphis peritus apolloniates. Est raptus clabulare, cesaris. Cum pulchritudine manducare, omnes genetrixes captis bassus

						div#tabs-1-2.tab-pane.fade
							p Vae. Dexter fiscina aliquando vitares animalis est. Nunquam convertam bulla. Cum pars prarere, omnes seculaes
							p Navis dexter historia est. Luba, homo, et indictio. Emeritis eposs ducunt ad animalis. Cum solem assimilant, omnes byssuses vitare clemens, secundus nixuses.

						div#tabs-1-3.tab-pane.fade
							p A falsis, historia primus gallus. Est bassus tabes, cesaris. Gallus de mirabilis agripeta, locus mens! Primus ratione
							p Cur eleates accelerare? Heu. Ecce, superbus onus! Demolitione secundus homo est. Cum cacula congregabo, omnes coordinataees acquirere dexter, flavum galataees.

				a.button.button-sm.button-primary.button-zakaria( href='grid-shop.html' ) Shop now

			.col-md-11.col-lg-6.col-xl-7.text-right
				+jpg("about-1-632x458")
	='\n'

	// Section History
	section.section.section-fluid.section-xl.section-bottom-0.bg-image-2.section-relative
		.container-fluid
			h2 Our History
			.slick-history
				// Slick Carousel
				#carousel-parent-2.slick-slider.carousel-parent( data-items='1' data-sm-items='2' data-md-items='2' data-lg-items='3' data-xl-items='3' data-xxl-items='4' data-autoplay='false' data-loop='false' )
					.item: .box-info-classic
						h4.box-info-classic-title Establishment
						p.box-info-classic-text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin facilisis, velit non fringilla pharetra, elit odio
					.item: .box-info-classic
						h4.box-info-classic-title First Success
						p.box-info-classic-text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin facilisis, velit non fringilla pharetra, elit odio
					.item: .box-info-classic
						h4.box-info-classic-title New Products
						p.box-info-classic-text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin facilisis, velit non fringilla pharetra, elit odio
					.item: .box-info-classic
						h4.box-info-classic-title National Recognition
						p.box-info-classic-text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin facilisis, velit non fringilla pharetra, elit odio
					.item: .box-info-classic
						h4.box-info-classic-title Market Leaders
						p.box-info-classic-text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin facilisis, velit non fringilla pharetra, elit odio

				.slick-slider.child-carousel( data-items='1' data-sm-items='2' data-md-items='2' data-lg-items='3' data-xl-items='3' data-xxl-items='4' data-arrows='true' data-for='#carousel-parent-2' data-loop='false' data-focus-select='false' )
					.item: .heading-5.box-info-classic-year 1999
					.item: .heading-5.box-info-classic-year 2003
					.item: .heading-5.box-info-classic-year 2007
					.item: .heading-5.box-info-classic-year 2015
					.item: .heading-5.box-info-classic-year 2019
	='\n'

	// Our team
	section.section.section-xl.bg-default
		.container
			h2 Our team
			// Owl Carousel
			.owl-carousel( data-items='1' data-sm-items='2' data-md-items='3' data-margin='30' data-dots='true' data-autoplay='true' )
				+team-classic({
					img: 'team-15-370x334',
					name: 'Kate ferrand',
					text: 'Cum exsul crescere, omnes lanistaes experientia gratis, castus detriuses.'
				})
				+team-classic({
					img: 'team-16-370x334',
					name: 'Rick Martinez',
					text: 'Cum zelus mori, omnes repressores desiderium magnum, rusticus medicinaes.'
				})
				+team-classic({
					img: 'team-17-370x334',
					name: 'samantha williams',
					text: 'Cum compater resistere, omnes menses fallere placidus, germanus gemnaes.'
				})
				+team-classic({
					img: 'team-1-370x334',
					name: 'Peter Smith',
					text: 'Cum glos manducare, omnes demolitionees experientia clemens, nobilis tritic.'
				})
				+team-classic({
					img: 'team-2-370x334',
					name: 'Caroline Lopez',
					text: 'Domesticus, primus mortems mechanice consumere de altus, bassus ionicis torm.'
				})
				+team-classic({
					img: 'team-3-370x334',
					name: 'Will Mcmillan',
					text: 'Cum accentor experimentum, omnes torquises contactus camerarius, pius zirbuses.'
				})
	='\n'

	// Counter Modern
	+parallax({
		img: 'parallax-2',
		innerClass: 'section-xxl context-dark'
	})
		.container: .row.row-30.justify-content-center
			.col-6.col-sm-3
				+counter-modern({
					number: '245',
					title: 'New furniture<br class="d-none d-sm-block"> Products'
				})
			.col-6.col-sm-3
				+counter-modern({
					number: '382',
					title: 'Special<br class="d-none d-sm-block"> offers'
				})
			.col-6.col-sm-3
				+counter-modern({
					number: '1267',
					title: 'Satisfied<br class="d-none d-sm-block"> Clients'
				})
			.col-6.col-sm-3
				+counter-modern({
					number: '474',
					title: 'partners<br class="d-none d-sm-block"> throughout the USA'
				})
	='\n'

	// Testimonials
	section.section.section-xl.bg-gray-21
		.container
			h2 Testimonials
			// Owl Carousel
			.owl-carousel.owl-style-1( data-items='1' data-sm-items='2' data-margin='30' data-dots='true' data-autoplay='true' )
				+quote-modern({
					img: 'user-10-62x62',
					author: 'Patrick Goodman',
					status: 'Client',
					text: 'Classis de salvus cursus, convertam galatae! Terror peregrinationes, tanquam audax cedrium. Cum luna prarere, omnes cannabises resuscitabo'
				})
				+quote-modern({
					img: 'user-11-62x62',
					author: 'Jane Lee',
					status: 'Client',
					text: 'Genetrixs sunt urbss de flavum navis. Magnum paluss ducunt ad urbs. Cum secula favere, omnes assimilatioes tractare regius, emeritis caculaes.'
				})
				+quote-modern({
					img: 'user-5-62x62',
					author: 'James Peterson',
					status: 'Client',
					text: 'Zirbus velums, tanquam camerarius byssus. Pol, extum! Abactus varius ausus est. Cum elogium ortum, omnes ignigenaes acquirere altus, pius.'
				})
				+quote-modern({
					img: 'user-6-62x62',
					author: 'Ann McMillan',
					status: 'Client',
					text: 'Caculas ortum in peritus virundum! Congregabo callide ducunt ad flavum glos. Cum pes mori, omnes caculaes attrahendam rusticus, bi-color. '
				})
	='\n'

	// Section Clients
	section.section.section-xxl.bg-default
		.container
			.owl-carousel.owl-style-2( data-items='2' data-sm-items='3' data-md-items='4' data-margin='30' data-dots='true' )
				a.clients-classic( href='#' ): +png( 'clients-1-197x44' )
				a.clients-classic( href='#' ): +png( 'clients-2-139x59' )
				a.clients-classic( href='#' ): +png( 'clients-3-114x67' )
				a.clients-classic( href='#' ): +png( 'clients-4-140x50' )
	='\n'

	section.section
		+google-map
	='\n'

	// Page Footer
	+footer-classic
