extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'shop'
	- var pageName = 'Cart Page'

block page 
	// Page Header
	+header-classic: include ../includes/_aside-navbar-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about'
	})

	// Shopping Cart
	section.section.section-xl.bg-default
		.container
			// shopping-cart
			include ../includes/_shopping-cart
			.group-xl.group-justify.justify-content-center.justify-content-md-between
				div: form.rd-form.rd-mailform.rd-form-inline.rd-form-coupon
					.form-wrap
						input.form-input.form-input-inverse(id="coupon-code" type="text" name="text")
						label.form-label(for="coupon-code") Coupon code
					.form-button: button.button.button-lg.button-secondary.button-zakaria(type="submit") Apply
				div: .group-xl.group-middle
					div: .group-md.group-middle
						.heading-5.font-weight-medium.text-gray-500 Total
						.heading-3.font-weight-normal $37
					a.button.button-lg.button-primary.button-zakaria(href='checkout.html') Proceed to checkout
	='\n'

	// Page Footer
	+footer-classic