extends  ../_skeleton

block variables
	- var activeCategory = 'elements'
	- var pageName = 'Search Results'

block page 
	// Page Header
	+header-classic: include ../includes/_aside-navbar-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-blog-2'
	})

	// Search results
	section.section.section-xl.bg-default
		.container: .row.justify-content-center: .col-lg-10.col-xl-9
			// RD Search
			form.rd-form.rd-search.rd-form-inline( action='search-results.html' method='GET' )
				.form-wrap
					label.form-label( for='rd-search-form-input' ) Search
					input.form-input( id='rd-search-form-input' type='text' name='s' autocomplete='off' )
				.form-button
					button.button.button-primary( type='submit' ) Search

			.rd-search-results
	='\n'

	// Page Footer
	+footer-classic
